.theme-toggler {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.theme-toggle-label {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 1.6rem;
}

.theme-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: var(--color-background-accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.theme-toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 1px;
  bottom: 0px;
  border-radius: 50%;
  background-color: var(--color-foreground);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.theme-toggle-input:checked + .theme-toggle-slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
  -webkit-box-shadow: 0px 0px 5px 3px #a6588a;
  box-shadow: 0px 0px 5px 3px #a6588a;
}

.theme-mode {
  font-size: 1.25rem;
}

.theme-sunny {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  left: 4px;
  bottom: 3px;
}

.theme-dark {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  right: 4px;
  bottom: 3px;
}
